{% extends 'admins/admin_base.html' %}{% block content %}


<div class="container">

        
        <div class="col-md-8 my-4" style="width:auto;">
            <div class="card">
                <div class="card-header d-flex">
                    <div style="width:85%">
                    <h4>Category Management</h4>
                    </div>
                    <div >
                    <a class="btn btn-primary " href ="addcategory">Add Category</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Delete</th>
                                <th>Block / Unblock</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>{{category.id}}</td>
                                <td>{{category.name}}</td>
                                <td>{{category.description}}</td>
                                <td>
                                    <a style="" class="btn btn-danger" href= "delete_category?id={{category.id}}"><i style=""onclick="return confirm('Are you sure to Delete '+' {{category.name}} ?')"</i>
                                        Delete</a></td>
                                <td>
                                    {% if category.is_active %}
                                    
                                    <a style="background:#CCEDD2;" class="btn" href= "category_block?id={{category.id}}"><i style=""onclick="return confirm('Are you sure to block '+' {{category.name}} ?')"</i>
                                        Block</a></td>
                                    {% else %}
                                    <a href="category_unblock?id={{category.id}}" style="background:#CCEDD2;" class="btn">Unblock</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}