{% extends 'admins/admin_base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-8 my-4" style="width:auto;">
        <div>
            </div>
        <div class="card">
            <div class="card-header d-flex">
                <div style="width:85%">
                <h4>Products Management</h4>
                </div>
                <div >
                <a class="btn btn-primary " href ="addoffer">Add Offer</a>
                </div>
            </div>
            <div class="card-body">
                <table id="table_id" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                        <tr>
                            <td>{{offer.name}}</td>
                            <td>{{offer.startdate}}</td>
                            <td>{{offer.enddate}}</td>
                            <td>{{offer.product_id}}</td>
                            <td>{{offer.category_id}}</td>
                            <td><a class="btn btn-primary" href="editproduct?id={{product.id}}">Edit</a></td>
                            <td>
                                <botton class="btn btn-danger" onclick="deleteProduct({{product.id}})">Delete</botton>
                                {% comment %} <a class="btn btn-danger" href="deleteproduct?id={{product.id}}">Delete</a> {% endcomment %}
                                {% comment %} <a class="btn btn-danger" href= "deleteproduct?id={{product.id}}"><i style=""onclick="return confirm('Are you sure to block '+' {{product.name}} ?')"</i>
                                Delete</a> {% endcomment %}
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteProduct(id){
        {% comment %} alert(id); {% endcomment %}
        var id=id;
        
        swal({
            title: "Are you sure to delete the product?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: 'deleteproduct',
                    type: 'GET',
                    data: {id:id},
                    success: function(response){
                        swal("Poof! Product has been deleted!", {
                            icon: "success",
                        });
                        location.reload();
                    }
                });
              
            } else {
              swal("Your product is safe!");
            }
          });
    }
    
        $(document).ready( function () {
          $('#table_id').DataTable();
        });
      
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/kt-2.6.4/r-2.2.9/rg-1.1.3/rr-1.2.8/sl-1.3.3/datatables.min.css"/>

{% endblock content %}