{% extends 'admins/admin_base.html' %}
{% block content %}
<style>
  
  
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
<div class="m-2">
   
        
    <div class="col-md-8 my-4" style="width:auto;">
        <div class="card">
            <div class="card-header">
                <h4>Orders</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            {% comment %} <th>Products</th> {% endcomment %}
                            <th>Order Date</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Update</th>
                            <th>Cancel Order</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{order.user.username}}</td>
                            {% comment %} <td>{%for cart in carts%}
                                {{cart.product.name}}<br>
                                {%endfor%}
                            </td> {% endcomment %}
                            <td>{{order.ordered_date}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.method}}</td>
                            <td>{{order.status}}</td>

                            <td>{% if order.cancel %}
                                Order Canceled
                                {% elif order.status == 'Return Requested'%}
                                <button type="button" id="myBtn" class="btn"> Review Request </button>
                                <div id="myModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                      <span class="close">&times;</span>
                                      <h3> Reason For Return </h3>
                                        <p>{{order.reason}}</p>
                                        <div class="row ">
                                            <a href="acceptrequest?id={{order.id}}" class="my-1 btn btn-success">Accept</a>
                                            <a href="rejectrequest?id={{order.id}}" class="my-1 btn btn-danger">Reject</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                {% elif order.status == 'Return Accepted' or order.status == 'Return Rejected' or order.status == 'Delivered' %}
                                {% comment %} <form action="updatestatus?id={{order.id}}" method="POST">
                                    {% csrf_token %}
                                        <select name="status" class="" id="status">
                                            <option value="0">Update status</option>
                                            
                                            {% for i in returnstatus %}
                                            <option value="{{i}}">{{i}}</option>
                                           
                                            {% endfor %}
                                            
                                        </select>
                                        <button type="submit" id ="btn1"class="btn btn-primary">Update</button>
                                    </form> {% endcomment %}
                                {% elif order.status == 'Shipped'%}
                                <form action="updatestatus?id={{order.id}}" method="POST">
                                {% csrf_token %}
                                    <select name="status" class="" id="status">
                                        <option value="0">Update Status</option>
                                        
                                        {% for i in status1 %}
                                        <option value="{{i}}">{{i}}</option>
                                       
                                        {% endfor %}
                                        
                                    </select>
                                    <button type="submit" id ="btn1"class="btn btn-primary">Update</button>
                                </form>
                                {% elif order.status == 'Out of Delivery'%}
                                <form action="updatestatus?id={{order.id}}" method="POST">
                                    {% csrf_token %}
                                        <select name="status" class="" id="status">
                                            <option value="0">Update Status</option>
                                            
                                            {% for i in status2 %}
                                            <option value="{{i}}">{{i}}</option>
                                           
                                            {% endfor %}
                                            
                                        </select>
                                        <button type="submit" id ="btn1"class="btn btn-primary">Update</button>
                                    </form>
                                {% else %}
                                <form action="updatestatus?id={{order.id}}" method="POST">
                                {% csrf_token %}
                                    <select name="status" class="" id="status">
                                        <option value="0">Update Status</option>
                                        
                                        {% for i in status %}
                                        <option value="{{i}}">{{i}}</option>
                                       
                                        {% endfor %}
                                        
                                    </select>
                                    <button type="submit" id ="btn1"class="btn btn-primary">Update</button>
                                </form>
                                
                                {% endif %}
                            </td>
                            {% if order.cancel %}
                            <td>Order Canceled</td>
                            

                            {% elif order.status == 'Return Accepted' or order.status == 'Return Rejected' or order.status == 'Delivered' or order.status == 'Return Requested'%}
                            {% else %}
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" onclick = cancelOrder({{order.id}})>
                                    Cancel Order</button>
                                
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#btn1').click(function(){
            var status = $('#status').val();
            if(status == '0'){
                alert('Please select a status');
                return false;
            }
        });
    });

    function cancelOrder(id){
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                window.location.href = "cancelorder?id="+id;
              swal("Poof! Your imaginary file has been deleted!", {
                icon: "success",
              });
            } else {
              swal("Your imaginary file is safe!");
            }
          });
    }
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      
      modal.style.display = "block";

    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
{% endblock %}
