{% extends 'admins/admin_base.html' %}
{% block content %}
<div class="m-5">
   
        
    <div class="col-md-8 my-4" style="width:auto;">
        <div class="card">
            <div class="card-header">
                <h4>Orders</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            {% comment %} <th>Products</th> {% endcomment %}
                            <th>Order Date</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Cancel Order</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{order.user.username}}</td>
                            {% comment %} <td>{%for cart in carts%}
                                {{cart.product.name}}<br>
                                {%endfor%}
                            </td> {% endcomment %}
                            <td>{{order.ordered_date}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.method}}</td>
                            <td>{{order.status}}</td>
                            {% if order.cancel %}
                            <td>Order Canceled</td>
                            {% else %}
                            <td>
                                <a class="btn btn-danger" href= "cancelorder?id={{order.id}}" ><i style=""onclick="return confirm('Are you sure to cancel the order ?')">Cancel Order</i>
                                    </a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}