{% extends 'admins/admin_base.html' %}{% block content %}

    
<div class="container">
    
   
        
    <div class="col-md-8 my-4" style="width:auto;">
        <div>
            </div>
        <div class="card">
            <div class="card-header d-flex">
                <div style="width:85%">
                <h4>Products Management</h4>
                </div>
                <div >
                <a class="btn btn-primary " href ="addproduct
                ">Add Product</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{product.brand}}</td>
                            <td>{{product.name}}</td>
                            <td><img src=".{{product.image.url}}" class = "img-fluid" style="width:100px; height:100px;"></td>
                            <td>{{product.price}}</td>
                            <td>{{product.category.name}}</td>
                            <td>{{product.description}}</td>
                            <td><a class="btn btn-primary" href="editproduct?id={{product.id}}">Edit</a></td>
                            <td>
                                {% comment %} <a class="btn btn-danger" href="deleteproduct?id={{product.id}}">Delete</a> {% endcomment %}
                                <a class="btn btn-danger" href= "deleteproduct?id={{product.id}}"><i style=""onclick="return confirm('Are you sure to block '+' {{product.name}} ?')"</i>
                                Delete</a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}