{% extends 'user/base.html'%} {% block content%}
{% load guest_user %} {% load mathfilters %}

<div class = "d -flex container">
    <div class="row my-5 ">
        
        <div class="col-md-9">
            <div class="card ">
                <div class="card-header">
                    <h4>My Cart</h4>
                </div>
                
                <div class="card-body">
                    <h2>{{empty}}</h2>
                        {% for cart in cart %}
                        {% if cart.cancel %}
                        {% else %}
                        <div class=" .product_data">
                            <div class="">
                                <div class=" d-flex">
                                    <div class=""style="min-width:150px; max-width:150px;">
                                        <img src=".{{cart.product.image.url}}" class="img-fluid w-60 fit-cover" style ="">
                                    </div>
                                    <div class="p-4">
                                        <input type="hidden" class="prod_id" value="{{cart.product.id}}">
                                        {% csrf_token %}
                                        <h4>{{cart.product.name}}</h4>
                                        <p>{{cart.product.description}}</p>
                                        <p class="fw-bold">Price: ₹{{cart.product.price}}/-</p>
                                        {% for offer in offers %}
                                        {% if offer.category.id == cart.product.category.id  or offer.product.id == cart.product.id %}
                                        <p class="fw-bold">Offer: {{offer.offer}}% off upto ₹{{offer.max_value}}/-
                                        {% with offer1=cart.product.price|div:100|mul:offer.offer|floatformat:2 %}
                                        {% with offer2=cart.product.price|sub:offer1|floatformat:2 %}
                                        {% if offer2 < offer.max_value %}
                                            <br><p class="fw-bold">Offer Price = ₹{{offer2}}/-</p></p>
                                        {% else %}
                                            <br>Offer Price = ₹{{cart.product.price|sub:offer.max_value}}/-</p>
                                        {% endif %}
                                        {% endwith %}
                                        {% endwith %}
                                        
                                        {% endif %}
                                        {% endfor %}
                                        <p>Quantity </p> 
                                        <div class="d-flex input-group text-center ">
                                            <div class="">
                                                {% comment %} <a href="minus?id={{cart.id}}" class="border btn">-</a> {% endcomment %}
                                                <button class="border btn minus" id="doWn" onclick=down({{cart.id}})>-</button>
                                            </div>
                                            <div><span id="{{cart.id}}" class="mx-3" style="margin-top:3px;">{{cart.quantity}}</span></div>
                                            <div class=""style="">
                                                {% comment %} <a href="up?id={{cart.id}}" class="border btn">+</a> {% endcomment %}
                                                <button class="border btn up" onclick=up({{cart.id}})>+</button>
                                            </div>
                                            <div class="ms-3">
                                                <button class="btn btn-danger btn-sm remove mt-1" onclick=removeCart({{cart.id}})  id="removecart" >Remove</button>
                                                {% comment %} <a class="btn btn-danger" id="removecart" href="removecart?id={{cart.id}}" ><i style=""onclick="return confirm('Are you sure to remove {{cart.product.name}} from the cart?')">Remove</i> {% endcomment %}
                                            </a> 
                                        </div>
                                            
                                            <div class="ms-5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            {% if empty  %}


            {% else %}
            <div class= "col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Price details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Subtotal</td>
                                <td>₹<span id="subTotal">{{subtotal}}</span>/-</td>
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>₹<span id="Total">{{total}}</span>/-</td>
                            </tr>
                        </table>
                        
                        {% if total %}
                        {% if  user|is_guest_user  %}
                        <a href="login" class="btn btn-primary" style="width:100%; background:#1C3879;">Checkout</a>
                        {% else %}
                        <a href="checkout" class="btn btn-primary" style="width:100%; background:#1C3879;">Checkout</a>
                        {% endif %}
                        {% endif %}
                        <a class="btn text-light mt-3" href="/" style="width:100%; background:#1C3879;">Continue Shopping</a>
                    </div>
                </div>
                {% endif %}
                

        </div>
        
        
    </div>
    

</div>
<script>
    function up(id){
        $.ajax({
            type: "GET",
            url: "up?id="+id,
            success: function(data){
                
                document.getElementById(id).innerHTML = data.data;
                document.getElementById("Total").innerHTML = data.total;
                document.getElementById("subTotal").innerHTML = data.subtotal;
            }
        });
    }
    function down(id){
        $.ajax({
            type: "GET",
            url: "minus?id="+id,
            success: function(data){
                if (data.data == 0){
                    
                   $.ajax({
                        type: "GET",
                        url: "removecart?id="+id,
                        success: function(data){
                            location.reload();
                        }
                    });
                }
                else{
                    document.getElementById(id).innerHTML = data.data;
                    document.getElementById("Total").innerHTML = data.total;
                    document.getElementById("subTotal").innerHTML = data.subtotal;
                }
            }
        });
    }
    function removeCart(id){
        console.log(id)
        var id = id
        swal({
            title: "Are you sure?",
            text: "Once you delete, product will remove from cart?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                url: 'removecart',
                method: 'GET',
                data: {id:id},
                success: function(data){
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                      });
                    location.reload();
                    
               }
             })
            //swal("Poof! Your imaginary file has been deleted!", {
                //icon: "success",
            //});
              
            } else {
              swal("Your imaginary file is safe!");
            }
          });
        
    }
    //$('#removecart').click(()=>{
    //    console.log("clicked")
    //    var id = $(this).attr('id');
    //    var prod_id = $(this).attr('prod_id');
    //    var quantity = $(this).attr('quantity');
    //    var action = 'removecart';
    //    $.ajax({
    //        url: 'removecart',
    //        method: 'POST',
    //        data: {id:id, prod_id:prod_id, quantity:quantity, action:action},
    //        success: function(data){
    //            alert(data);
    //       }
    //     })
    //})
    
</script>
{%endblock%}
