{% extends 'user/base.html'%} {% block content%}


<div class = "d -flex container">
    <div class="row my-5 ">
        
        <div class="col-md-9">
            <div class="card ">
                <div class="card-header">
                    <h4>My Cart</h4>
                </div>
                
                <div class="card-body">
                    <h2>{{empty}}</h2>
                        {% for cart in cart %}
                        {% if cart.cancel %}
                        {% else %}
                        <div class=" .product_data">
                            <div class="">
                                <div class=" d-flex">
                                    <div class=""style="min-width:150px; max-width:150px;">
                                        <img src=".{{cart.product.image.url}}" class="img-fluid w-60 fit-cover" style ="">
                                    </div>
                                    <div class="p-4">
                                        <input type="hidden" class="prod_id" value="{{cart.product.id}}">
                                        {% csrf_token %}
                                        <h4>{{cart.product.name}}</h4>
                                        <p>{{cart.product.description}}</p>
                                        <p>Price: ₹{{cart.product.price}}/-</p>
                                        <p>Quantity</p>
                                        <div class="d-flex input-group text-center ">
                                            <div class=""><a href="minus?id={{cart.id}}" class="border btn">-</a></div>
                                            
                                            <div><p class="mx-1">{{cart.quantity}}</p></div>
                                            <div class=""style=""><a href="up?id={{cart.id}}" class="border btn">+</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if empty  %}


            {% else %}
            <div class= "col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Price details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Subtotal</td>
                                <td>₹{{subtotal}}/-</td>
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>₹{{total}}/-</td>
                            </tr>
                        </table>
                        {% if total %}
                        <a href="checkout" class="btn btn-primary" style="width:100%; background:#1C3879;">Checkout</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                

        </div>
        
        
    </div>
    

</div>
{%endblock%}