{% extends 'user/base.html'%} {% block content%}


<div class = "d -flex container">
    <div class="row my-5 ">
        
        <div class="col-md-9">
            <div class="card ">
                <div class="card-header">
                    <h4>My Cart</h4>
                </div>
                
                <div class="card-body">
                    <h2>{{empty}}</h2>
                        {% for cart in cart %}
                        {% if cart.cancel %}
                        {% else %}
                        <div class=" .product_data">
                            <div class="">
                                <div class=" d-flex">
                                    <div class=""style="min-width:150px; max-width:150px;">
                                        <img src=".{{cart.product.image.url}}" class="img-fluid w-60 fit-cover" style ="">
                                    </div>
                                    <div class="p-4">
                                        <input type="hidden" class="prod_id" value="{{cart.product.id}}">
                                        {% csrf_token %}
                                        <h4>{{cart.product.name}}</h4>
                                        <p>{{cart.product.description}}</p>
                                        <p>Price: ₹{{cart.product.price}}/-</p>
                                        <p>Quantity </p> 
                                        <div class="d-flex input-group text-center ">
                                            <div class="">
                                                {% comment %} <a href="minus?id={{cart.id}}" class="border btn">-</a> {% endcomment %}
                                                <button class="border btn minus" onclick=down({{cart.id}})>-</button>
                                            </div>
                                            <div><span id="cartQuantity" class="mt-2 mx-2">{{cart.quantity}}</span></div>
                                            <div class=""style="">
                                                {% comment %} <a href="up?id={{cart.id}}" class="border btn">+</a> {% endcomment %}
                                                <button class="border btn up" onclick=up({{cart.id}})>+</button>
                                            </div>
                                            <div class="ms-3">
                                                <button class="btn btn-danger btn-sm remove mt-1" onclick=removeCart({{cart.id}})  id="removecart" >Remove</button>
                                                {% comment %} <a class="btn btn-danger" id="removecart" href="removecart?id={{cart.id}}" ><i style=""onclick="return confirm('Are you sure to remove {{cart.product.name}} from the cart?')">Remove</i> {% endcomment %}
                                            </a> 
                                        </div>
                                            
                                            <div class="ms-5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if empty  %}


            {% else %}
            <div class= "col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Price details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Subtotal</td>
                                <td>₹{{subtotal}}/-</td>
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>₹{{total}}/-</td>
                            </tr>
                        </table>
                        {% if total %}
                        
                        <a href="checkout" class="btn btn-primary" style="width:100%; background:#1C3879;">Checkout</a>
                        
                        {% endif %}
                        <a class="btn text-light mt-3" href="/" style="width:100%; background:#1C3879;">Continue Shopping</a>
                    </div>
                </div>
                {% endif %}
                

        </div>
        
        
    </div>
    

</div>
<script>
    function up(id){
        $.ajax({
            type: "GET",
            url: "up?id="+id,
            success: function(data){
                location.reload();
            }
        });
    }
    function down(id){
        $.ajax({
            type: "GET",
            url: "minus?id="+id,
            success: function(data){
                location.reload();
            }
        });
    }
    function removeCart(id){
        console.log(id)
        var id = id
        swal({
            title: "Are you sure?",
            text: "Once you delete, product will remove from cart?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                url: 'removecart',
                method: 'GET',
                data: {id:id},
                success: function(data){
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                      });
                    location.reload();
                    
               }
             })
            //swal("Poof! Your imaginary file has been deleted!", {
                //icon: "success",
            //});
              
            } else {
              swal("Your imaginary file is safe!");
            }
          });
        
    }
    //$('#removecart').click(()=>{
    //    console.log("clicked")
    //    var id = $(this).attr('id');
    //    var prod_id = $(this).attr('prod_id');
    //    var quantity = $(this).attr('quantity');
    //    var action = 'removecart';
    //    $.ajax({
    //        url: 'removecart',
    //        method: 'POST',
    //        data: {id:id, prod_id:prod_id, quantity:quantity, action:action},
    //        success: function(data){
    //            alert(data);
    //       }
    //     })
    //})
    
</script>
{%endblock%}
