{% extends 'user/base.html'%} {% block content%}


<div class="d-flex m-5">
  <div class="col-md-3">
    <div class="card me-2 rounded shadow-lg border-0">
        <div class="card-header">
            <h4 style="color:">Categories</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item">
                    <a href="category/{{category.id}}">{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-md-9">        
  <div class="bg-light rounded shadow-lg border-0 border-dark overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="text-white p-4 p-md-5">
            <h2 class="fw-bold mb-3 fs-1" style="color:#1C3879;">
              Welcome to<br />
              ecommerce
            </h2>
            <p class="mb-4 fw-bold fs-4 " style="color:#1C3879;">
              You can shop home essentials, foods, toys and whatevers you want
              from the ecommerce
            </p>
            <div class="my-3"></div>
          </div>
        </div> 
        <div class="col-md-6 order-first order-md-last" style="min-height: 250px">
          <img  class="w-100 h-100 fit-cover" src="https://img.freepik.com/free-vector/super-sale-horizontal-banner_52683-59532.jpg?w=2000" />
        </div>
      </div>
    </div>

    <div class="row row-cols-1 cols-md-4 mt-3">
       {% for product in products %} 
       <div class="card m-3" style="width: 18rem;">
        <img src=".{{product.image.url}}" class="card-img-top w-100 h-100" alt="...">
        
        <div class="card-body">
          <p class="text-secondary">{{product.brand}}</p>
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          
          <p class="card-text me-2"> ₹{{product.price}}/-</p>
          <a href="view_product?id={{product.id}}" class="btn btn-primary" style="width:100%; background:#1C3879;">View</a>
          
        </div>
      </div>
          
         {% endfor %} 
      </div>
    </div>
 
  <div>
   
</div> 




{%endblock%}