{% extends 'user/base.html'%} {% block content%}


<div class = "d -flex container">
    <div class="row  my-5">
        
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4>My Orders</h4>
                </div>
                {% if empty %}{% endif %}
                {% for order in orders %}
                
                <div class="card-body">
                    
                    
                    <div class="d-flex">
                        <div class="col-md-4">
                            <p>Order ID: {{order.id}} <p>           <p>Order Date: {{order.ordered_date}}</p>
                             {% comment %} <h6><b>Order Items</b></h6>
                            <ul > {% endcomment %}
                                {% comment %} {% for cart in cart %}
                                <li>{{cart.product.name}} - {{cart.quantity}} - {{cart.product.price}}</li>

                                {% endfor %} {% endcomment %}
                                <br>
                                <h5>Total: {{order.amount}}</h5>
                            </ul> 
                        </div>
                        <div class ="col-md-4">
                            <h6><b>Shipping Address</b></h6>
                            <ul type="None">
                                <li>{{order.address.name}}</li>
                                <li>{{order.address.address}}</li>
                                <li>{{order.address.phone}}</li>
                                <li>{{order.address.city}}</li>
                                <li>{{order.address.state}}</li>
                                <li>{{order.address.pincode}}</li>
                                
                            </ul>
                    </div>
                    <div>
                        <h6><b>Payment Method</b></h6>
                        <p>{{order.method}}</p> 
                        <br>
                        <h6><b>Order Status</b></h6>
                        <p>{{order.status}}</p>
                        {% if order.cancel %}<p>Order Cancelled</p>
                        {% comment %} <p>Order Cancelled</p> {% endcomment %}
                        {% else %}
                        <a class="btn text-light" href= "cancelorder?id={{order.id}}" style="background: #1C3879; "><i style=""onclick="return confirm('Are you sure to cancel the order ?')"></i>
                            Cancel Order</a>
                        {% endif %}

                    </div>
                    
                </div>
                <hr>
                   
            </div>
            {% endfor %}
            
        </div>
        
        
    </div>
    

</div>
{%endblock%}